<% if @errors %>
  <p><% @errors.each do |error| %></p>
    <p><%= error %></p>
  <% end %>
<% end %>

<h3>Create a new service</h3>

<form method="post" action="/services" >
  <input type="text" name="title" placeholder="title"><br>
  <input type="text" name="description" placeholder="description"><br>
  <input type="text" name="contact_info" placeholder="contact info"><br>
  <input type="text" name="category" placeholder="category"><br>
  <input type="submit" value="add service" >
</form>
