
<h3>Service title: <%= @service.title %></h3>
<p>Service description: <%= @service.description %></p>
<p>Contact info: <%= @service.contact_info %></p>

<p>This services belongs to this category: <%= @service.category.title %></p>


