
<h3> Hello, <%= @user.username %></h3>

<form method="get" action="/services/new">
  <input type="submit" value="add a service">
</form>

<h4>These are your posted services:</h4>

<% @user_services.each do |service| %>

  <h4><%= service.title %>

  <form method="GET" action="/services/<%=service.id%>/edit">
    <!-- <input type="hidden" name="_method" value="PUT"> -->
    <input type="submit" value="edit">
  </form><br>

  <form method="POST" action="/services/<%=service.id%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form></h4>
<% end %>





